<!doctype html>
<html class="no-js" lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Grand Capital</title>
  <link href='https://fonts.googleapis.com/css?family=Roboto:400,700&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="css/foundation.css">
  <link rel="stylesheet" href="css/app.css">
  <link rel="stylesheet" href="css/style.css">
</head>
<body>
  <header>
    <div class="row">
      <div class="large-6 medium-6 columns">
        <div class="header__logo">
          <a href="#"><img src="img/pic/logo.png" alt="Grand Capital"></a>
        </div>
      </div>
      <div class="large-6 medium-6 columns">
        <div class="header__social">
          <a href="#"><img src="img/icon-twitter.png" alt="twitter"></a>
          <a href="#"><img src="img/icon-facebook.png" alt="facebook"></a>
          <a href="#"><img src="img/icon-google.png" alt="google+"></a>
          <a href="#"><img src="img/icon-tumbler.png" alt="tumbler"></a>
          <a href="#"><img src="img/icon-pinterest.png" alt="pinterest"></a>
          <a href="#"><img src="img/icon-linkedin.png" alt="linkedin"></a>
        </div>
      </div>
    </div>
    <div class="column row">
      <div class="header__tagline">
      {% blocktrans %}
        <p>Make profit with a<br><span>trusted</span></p>
        <p>broker</p>
      {% endblocktrans %}
        <div class="row">
          <div class="large-6 medium-6 columns">
            <button>{% blocktrans %}Open account{% endblocktrans %}</button>
          </div>
          <div class="large-6 medium-6 columns">
            <button>{% blocktrans %}Open demo account{% endblocktrans %}</button>
          </div>
        </div>
      </div>
    </div>
    <div class="column row">
      <div class="header__advantages">
        <ul>
          <li>
            <p>{% trans "Reliability" %}</p>
            {% blocktrans %}
            <p>10 years on financial markets.}</p>
          </li>
          <li>
            <p>Professtional traders choose us</p>
            <p>Best Forex Broker, Best Binary Broker,  Best ECN Broker.</p>
          </li>
          <li>
            <p>Great trading conditions</p>
            <p>Spread from 0.5.</p>
            {% endblocktrans %}
          </li>
        </ul>
      </div>
    </div>
  </header>
  <main class="main">
    <div class="main__advantages">
      <div class="column row">
        {% blocktrans %}
        <h2>Ample trading<br> opportunities  - 70% of success</h2>
        <ul>
          <li><img src="img/icon copies/icon-main-advantages-award.png"><p>Over 330 assets: shares, futures, currency pairs</p></li>
          <li><img src="img/icon copies/icon-main-advantages-browser.png"><p>5 trading accounts - Swap Free, ECN, Option, Standard, Micro</p></li>
          <li><img src="img/icon copies/icon-main-advantages-diagramm.png"><p>Binary Options in MetaTrader4 and WebTerminal</p></li>
          <li><img src="img/icon copies/icon-main-advantages-phone.png"><p>Grand Capital Invest mobile app</p></li>
          <li><img src="img/icon copies/icon-main-advantages-processor.png"><p>LAMM investment accounts</p></li>
          <li><img src="img/icon copies/icon-main-advantages-pulse.png"><p>Robots and EA are allowed</p></li>
          <li><img src="img/icon copies/icon-main-advantages-rate.png"><p>Regular contests with monthly prize fund $5 000</p></li>
          <li><img src="img/icon copies/icon-main-advantages-security.png"><p>Hedging of risks</p></li>
        </ul>
        {% endblocktrans %}
      </div>
    </div>
    <div class="main__best-bill">
      <div class="row">
      {% blocktrans %}
        <h2>Standard account - trader's top<br> choice</h2>
        <div class="main__best-bill-list">
          <div class="column row">
            <ul>
              <li><span>Payback loyalty program</span></li>
              <li><span>Leverage 1:2000</span></li>
              <li><span>Deposit from $100<br>Withdrawals in 1 working day</span></li>
              <li><span>Ability to assemble<br> investment portfolios</span></li>
              <li><span>Over 330 trading instruments</span></li>
              <li><span>Personal manager</span></li>
            </ul>
          </div>
        </div>
        {% endblocktrans %}
      </div>
    </div>
    <div class="main__bonus">
      <div class="row">
      {% blocktrans %}
        <h2>Great bonuses<br> for our clients</h2>
        <div class="large-6 column">
          <span>40<span>%</span></span>
          <div class="main__bonus-text-skin">
            <p>Promotion: +40% to every deposit</p>
            <p>Tradable bonus, valid for all account types. To receive the bonus open a live account and make a deposit for at least $10.</p>
            </div>
          </div>
          <div class="large-6 column">
            <span>5<span>,</span>5<span>$</span></span>
            <div class="main__bonus-text-skin">
              <p>Payback loyalty program</p>
              <p>Everyday payments of up to $5,5 per Lot to Standard account holders.</p>
            </div>
          </div>
          {% endblocktrans %}
        </div>
        <div class="row">
          <div class="large-6 medium-6 columns">
            <button>{% blocktrans %}Open account{% endblocktrans %}</button>
          </div>
          <div class="large-6 medium-6 columns">
            <button>{% blocktrans %}Open demo account{% endblocktrans %}</button>
          </div>
        </div>
      </div>
      <div class="main__callback-form">
        <div class="column row">
        {% blocktrans %}
          <h2>Have a question?<br>Fill in the form below and we will call you back!</h2>
        {% endblocktrans %}
          <form action="">
            <input type="text" placeholder="Пабло Диего Хозе Франциско">
            <input type="text" placeholder="8 (812) 529-54-23">
            <select name="" id="">
              <option value="">Перезвонить с 09:00 до 12:00</option>
              <option value="">Перезвонить с 12:00 до 15:00</option>
            </select>
            <select name="" id="">
              <option value="">Забыл пароль</option>
              <option value="">Не работает ваш телефон</option>
            </select>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.</p>
            <div class="main__callback-form-btn-skin">
              <button>{% blocktrans %}Request callback{% endblocktrans %}</button>
            </div>
          </form>
        </div>
      </div>
      <div class="main__contacts">
        <div class="column row">
          <h2>Наши представительства</h2>
          <ul>
            <li><a href="#">Bandar</a></li>
            <li><a href="#">Berlin</a></li>
            <li><a href="#">Kuala Lumpur</a></li>
            <li><a href="#">Port Harcourt</a></li>
            <li><a href="#">Portugal</a></li>
            <li><a href="#">Алматы</a></li>
            <li><a href="#">Баку</a></li>
          </ul>
          <ul>
            <li><a href="#">Баку</a></li>
            <li><a href="#">Варшава</a></li>
            <li><a href="#">Киев</a></li>
            <li><a href="#">Кременчуг</a></li>
            <li><a href="#">Санкт-Петербург</a></li>
            <li><a href="#">Семей</a></li>
            <li><a href="#">Сочи</a></li>
          </ul>
          <ul>
            <li><a href="#">Москва</a></li>
            <li><a href="#">Мумбаи</a></li>
            <li><a href="#">Одесса</a></li>
            <li><a href="#">Омск</a></li>
            <li><a href="#">Омск 17</a></li>
            <li><a href="#">Оренбург</a></li>
            <li><a href="#">Павлодар</a></li>
          </ul>
          <ul>
            <li><a href="#">Петрозаводск</a></li>
            <li><a href="#">Петропавловск</a></li>
            <li><a href="#">Рига</a></li>
            <li><a href="#">Ростов-на-Дону</a></li>
            <li><a href="#">Сурабай</a></li>
            <li><a href="#">Таллин</a></li>
            <li><a href="#">Ташкент</a></li>
          </ul>
          <ul>
            <li><a href="#">Тольятти</a></li>
            <li><a href="#">Тольятти 2</a></li>
            <li><a href="#">Тюмень</a></li>
            <li><a href="#">Тюмень 2</a></li>
            <li><a href="#">Уфа</a></li>
            <li><a href="#">Хабаровск</a></li>
            <li><a href="#">Харьков</a></li>
          </ul>
          <ul>
            <li><a href="#">Челябинск</a></li>
            <li><a href="#">Шри-Ланка</a></li>
            <li><a href="#">Ярославль</a></li>
          </ul>
        </div>
        <div class="flex-video">
          <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d7998.894841997231!2d30.410069299999996!3d59.92013259999999!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sru!2sru!4v1468584004207" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
      </div>
    </main>
    <footer>
      <div class="row">
        <div class="large-4 columns">
          <div class="footer__logo">
            <a href="#"><img src="img/pic/logo-footer.png" alt="Grand Capital"></a>
          </div>
        </div>
        <div class="large-8 columns">
          <div class="footer__warning">
            <p>Уведомление о рисках: начиная работать на валютных рынках, убедитесь, что вы осознаете риски, с которыми сопряжена торговля с использованием кредитного плеча, и что вы имеете достаточный уровень подготовки.</p>
          </div>
        </div>
      </div>
      <div class="column row">
        <div class="footer__nav">
          <ul>
            <li><p>О компании</p></li>
            <li><a href="#">Контакты</a></li>
            <li><a href="#">Новости компании</a></li>
            <li><a href="#">Форум</a></li>
            <li><a href="#">Регулирование</a></li>
            <li><a href="#">Провайдеры</a></li>
            <li><a href="#">Ликвидности</a></li>
            <li><a href="#">Соглашение</a></li>
            <li><a href="#">Награды</a></li>
            <li><a href="#">Команды</a></li>
          </ul>
          <ul>
            <li><p>Торговля</p></li>
            <li><a href="#">Торговые платформы</a></li>
            <li><a href="#">Meta Trade 4</a></li>
            <li><a href="#">Web Trader</a></li>
            <li><a href="#">Центр закупок</a></li>
            <li><a href="#">Типы счетов</a></li>
            <li><a href="#">Спецификации</a></li>
            <li><a href="#">Инструменты</a></li>
            <li><a href="#">Ввод-вывод средств</a></li>
            <li><a href="#">VIP условия</a></li>
            <li><a href="#">Бинарные опционы</a></li>
            <li><a href="#">CFD, фьючерсы</a></li>
            <li><a href="#">Демо-счета</a></li>
            <li><a href="#">Экспресс-опционы</a></li>
            <li><a href="#">Акции и бонусы</a></li>
            <li><a href="#">Конкурсы</a></li>
            <li><a href="#">Калькулятор трейдера</a></li>
            <li><a href="#">PayBack</a></li>
          </ul>
          <ul>
            <li><p>Инвестиции</p></li>
            <li><a href="#">Инвестору ЛАММ</a></li>
            <li><a href="#">Управляещему ЛАММ</a></li>
            <li><a href="#">Рейтинг ЛАММ</a></li>
            <li><a href="#">ПАММ счета</a></li>
            <li><a href="#">MetaQuotes</a></li>
          </ul>
          <ul>
            <li><p>Аналитика</p></li>
            <li><a href="#">Аналитический<span></span>календарь</a></li>
            <li><a href="#">Аналитические обзоры</a></li>
            <li><a href="#">Видео аналитика</a></li>
          </ul>
          <ul>
            <li><p>Обучение</p></li>
            <li><a href="#">Очное обучение</a></li>
            <li><a href="#">Вебинары</a></li>
            <li><a href="#">Видеоуроки</a></li>
          </ul>
          <ul>
            <li><p>Партнерство</p></li>
            <li><a href="#">Веб-партнер</a></li>
            <li><a href="#">White Label</a></li>
            <li><a href="#">Региональный<span></span>представитель</a></li>
            <li><a href="#">Информеры</a></li>
            <li><a href="#">Франчайзинг</a></li>
            <li><a href="#">Rebate-сервис</a></li>
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="large-6 medium-6 columns">
          <div class="footer__copy">
            <p>Copyright 2006 - 2016 Grand Capital ltd. All rights reserved.</p>
          </div>
        </div>
        <div class="large-6 medium-6 columns">
          <div class="footer__social">
            <a href="#"><img src="img/icon-footer-twitter.png" alt="tw"></a>
            <a href="#"><img src="img/icon-footer-facebook.png" alt="fb"></a>
            <a href="#"><img src="img/icon-footer-google.png" alt="g+"></a>
            <a href="#"><img src="img/icon-footer-tumbler.png" alt="t"></a>
            <a href="#"><img src="img/icon-footer-pinterest.png" alt="p"></a>
            <a href="#"><img src="img/icon-footer-linkedin.png" alt="l"></a>
          </div>
        </div>
      </div>
    </footer>
    <script src="js/vendor/jquery.js"></script>
    <script src="js/vendor/what-input.js"></script>
    <script src="js/vendor/foundation.js"></script>
    <script src="js/app.js"></script>
  </body>
  </html>
